:root {
  // Font family
  --ff-one: 'Rubik';
  --ff-main: var(--ff-one), system-ui, 'Helvetica Neue', arial, sans-serif;
  --ff-mono: monospace;

  // Font weight
  --fw-black: 900;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  // Font size
  --fs-xbig: 3rem; // 48px
  --fs-big: 2.5rem; // 40px
  --fs-db: 2rem; // 32px
  --fs-xxl: 1.5rem; // 24px
  --fs-xl: 1.25rem; // 20px
  --fs-lg: 1.125rem; // 18px
  --fs-df: 1rem; // 16px
  --fs-md: 0.875rem; // 14px
  --fs-sm: 0.75rem; // 12px
  --fs-xs: 0.625rem; // 10px
  --fs-xxs: 0.5rem; // 8px
}
